@media screen and (min-width: 650px) {
  section {
	  float: none;
	  width: 100%;
	  height: auto;
	  clear: left;
  }
  aside {
	  float: none; 
	  width: 100%;
	  height: auto;
	  clear: left;
  }
}
